header {
    width: 100%;
    display: flex;
    padding: 3.2rem 0;
    max-width: 1600px;
    border-bottom: 1px solid #979797;
}

.header__logo {
    flex-grow: 1;
}

.nav {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 3.4rem;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

#cart__btn {
    border: none;
    background-color: transparent;
}

#cart__btn:hover {
    cursor: pointer;
}